               <!-- New Mailing List Section with Tally Form -->
               <section id="mailing-list" class="my-16 bg-gray-100 p-8 bg-texture rounded-lg">
                <div class="flex flex-col md:flex-row md:items-center md:justify-between">
                    <div class="md:w-1/2 mb-6 md:mb-0 md:pr-8">
                        <h3 class="text-2xl font-semibold mb-4 text-primary">Stay Updated with TAICO</h3>
                        <p class="text-secondary">Join our mailing list to receive the latest news, event updates, and insights from TAICO.</p>
                    </div>
                    <div class="md:w-1/2">
                        <iframe data-tally-src="https://tally.so/embed/w7D7gZ?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="120" frameborder="0" marginheight="0" marginwidth="0" title="TAICO Mailing List Signup"></iframe>
                    </div>
                </div>
            </section>
