<section class="my-4 bg-gray-800 py-10 px-4 rounded-lg text-white">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Why Attend -->
        <div class="bg-gray-700 p-6 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-gray-600 hover:shadow-lg">
            <div class="flex items-center mb-4">
                {% include icon.html name="users" class="w-6 h-6 text-accent mr-2" %}
                <h3 class="text-xl font-semibold text-gray-100">Why Attend</h3>
            </div>
            <ul class="list-disc pl-5 space-y-2 text-gray-300">
                <li>Network with AI and cybersecurity professionals</li>
                <li>Stay updated on the latest industry trends</li>
                <li>Participate in hands-on workshops</li>
                <li>Explore potential collaboration opportunities</li>
                <li>Learn about entrepreneurship in AI and cybersecurity</li>
            </ul>
        </div>

        <!-- What Will I Learn -->
        <div class="bg-gray-700 p-6 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-gray-600 hover:shadow-lg">
            <div class="flex items-center mb-4">
                {% include icon.html name="lightbulb" class="w-6 h-6 text-accent mr-2" %}
                <h3 class="text-xl font-semibold text-gray-100">What Will I Learn</h3>
            </div>
            <ul class="list-disc pl-5 space-y-2 text-gray-300">
                <li>All about AI: how to create it, how to use it</li>
                <li>Cybersecurity: What problems do we have and how can we fix them?</li>
                <li>Security for AI</li>
                <li>AI for security</li>
                <li>Emerging threats and defense strategies</li>                <li>Building applications with AI and LLMs</li>
            </ul>
        </div>

        <div class="bg-gray-700 p-6 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-gray-600 hover:shadow-lg">
            <div class="flex items-center mb-4">
                {% include icon.html name="target" class="w-6 h-6 text-accent mr-2" %}
                <h3 class="text-xl font-semibold text-gray-100">What Are Our Goals</h3>
            </div>
            <ul class="list-disc pl-5 space-y-2 text-gray-300">
                <li>Help Canada keep building technology and value</li>
                <li>Foster a vibrant AI and cybersecurity community</li>
                <li>Promote knowledge sharing and collaboration</li>
                <li>Drive innovation in AI-powered security solutions</li>
                <li>Help secure AI powered solutions</li>
                <li>Help AI users stay safe</li>
            </ul>
        </div>
    </div>
</section>